body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 187px;
    padding: 0 60px;
    background-color: #000769;
    color: #ffffff;
    font: normal normal normal 20px/1.79em 'Raleway400', sans-serif;
}

.logo {
    display: flex;
    height: 47px;
}

.logo svg {
    width: min-content;
    height: 100%;
}

.logo svg path {
    fill: #FFFFFF;
}

.logo p {
    width: max-content;
    margin: 0;
    display: flex;
    align-items: flex-end;
    font: normal normal normal 20px/1.79em 'Raleway700';
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

nav ul li {
    width: 150px;
    margin-right: 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a.active {
    color: #fc9823;
}

.gameContainer {
    background: linear-gradient(to right, #000000e0 0%, #002F5E 10.796875%, #589BE3 90.734375%, #000000e0 100%);
    background-repeat: no-repeat;
}

.title {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 83px;
    font-size: 56px;
    margin: 0;
    font-family: 'Oswald-Medium';
}

.gameSection {
    position: relative;
}

.game {
    color: white;
    font-size: 46px;
    font-family: 'Oswald-Medium';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.textContent {
    color: white;
    background-color: #000769;
    padding: 0 101px 86px 101px;
}

.yourAquatic {
    font-size: 50px;
    font-family: 'Oswald-Medium';
    line-height: normal;
    margin: 0;
    padding: 38px 0 25px 0;
    text-align: center;
}

.informationAbout {
    font-size: 20px;
    font-family: 'Raleway400';
    line-height: 34.6px;
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
}

.dreamSpace {
    font-size: 22px;
    font-family: 'Raleway400';
    line-height: 41.36px;
    text-align: justify;
}

footer {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #000769;
    border: 1px solid #261d5e;
    padding: 43px 291px;
}

footer div {
    margin-bottom: 17px;
    font-size: 15px;
    font-family: 'Raleway400';
    text-align: left;
}

.mt17 {
    margin-top: 17px;
}

.w50 {
    width: 50%;
}

.w50 div {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

ul.socIconsContainer {
    margin-top: 51px;
    display: flex;
    list-style-type: none;
    padding: 0;
}

.socIcons {
    width: 20px;
    height: 20px;
    object-fit: cover;
}